<div id="all_contributions">
  <h2>All contributions statistics</h2>
  <ul>
    <li>total contributions: <%= @all_contributions.total_contributions %></li>
  </ul>

  <h3>by day</h3>
  <ul>
    <li>max contributions: <%= @all_contributions.max_contributions_by_day %></li>
    <% distribution, thresholds = @all_contributions.contribution_by_day_distribution %>
    <%= erb :_distribution, locals: {label: "contribution distribution", distribution: distribution, thresholds: thresholds} %>
    <li>contributed: <%= @all_contributions.contributed_days %></li>
    <li>average contributions per contributed: <%= @all_contributions.average_contributions_per_contributed_days %></li>
    <li>max streaks: <%= @all_contributions.max_streaks_by_day %></li>
    <% distribution, thresholds = @all_contributions.streak_by_day_distribution %>
    <%= erb :_distribution, locals: {label: "streak distribution", distribution: distribution, thresholds: thresholds} %>
  </ul>

  <h3>by week</h3>
  <ul>
    <li>max contributions: <%= @all_contributions.max_contributions_by_week %></li>
    <% distribution, thresholds = @all_contributions.contribution_by_week_distribution %>
    <%= erb :_distribution, locals: {label: "contribution distribution", distribution: distribution, thresholds: thresholds} %>
    <li>contributed: <%= @all_contributions.contributed_weeks %></li>
    <li>average contributions per contributed: <%= @all_contributions.average_contributions_per_contributed_weeks %></li>
    <li>max streaks: <%= @all_contributions.max_streaks_by_week %></li>
    <% distribution, thresholds = @all_contributions.streak_by_week_distribution %>
    <%= erb :_distribution, locals: {label: "streak distribution", distribution: distribution, thresholds: thresholds} %>
  </ul>

  <h3>by month</h3>
  <ul>
    <li>max contributions: <%= @all_contributions.max_contributions_by_month %></li>
    <% distribution, thresholds = @all_contributions.contribution_by_month_distribution %>
    <%= erb :_distribution, locals: {label: "contribution distribution", distribution: distribution, thresholds: thresholds} %>
    <li>contributed: <%= @all_contributions.contributed_months %></li>
    <li>average contributions per contributed: <%= @all_contributions.average_contributions_per_contributed_months %></li>
    <li>max streaks: <%= @all_contributions.max_streaks_by_month %></li>
    <% distribution, thresholds = @all_contributions.streak_by_month_distribution %>
    <%= erb :_distribution, locals: {label: "streak distribution", distribution: distribution, thresholds: thresholds} %>
  </ul>

  <h3>by year</h3>
  <ul>
    <li>max contributions: <%= @all_contributions.max_contributions_by_year %></li>
    <% distribution, thresholds = @all_contributions.contribution_by_year_distribution %>
    <%= erb :_distribution, locals: {label: "contribution distribution", distribution: distribution, thresholds: thresholds} %>
    <li>contributed: <%= @all_contributions.contributed_years %></li>
    <li>average contributions per contributed: <%= @all_contributions.average_contributions_per_contributed_years %></li>
    <li>max streaks: <%= @all_contributions.max_streaks_by_year %></li>
    <% distribution, thresholds = @all_contributions.streak_by_year_distribution %>
    <%= erb :_distribution, locals: {label: "streak distribution", distribution: distribution, thresholds: thresholds} %>
  </ul>
</div>

<% @years.each do |year| %>
  <div id="<%= year%>_contributions">
    <h2><%= year %> contributions statistics</h2>
    <div id="cal-heatmap-<%= year %>"></div>

    <ul>
      <li>total contributions: <%= @contributions_by_years[year].total_contributions %></li>
    </ul>

    <h3>by day</h3>
    <ul>
      <li>max contributions: <%= @contributions_by_years[year].max_contributions_by_day %></li>
      <% distribution, thresholds = @contributions_by_years[year].contribution_by_day_distribution %>
      <%= erb :_distribution, locals: {label: "contribution distribution", distribution: distribution, thresholds: thresholds} %>
      <li>contributed: <%= @contributions_by_years[year].contributed_days %></li>
      <li>average contributions per contributed: <%= @contributions_by_years[year].average_contributions_per_contributed_days %></li>
      <li>max streaks: <%= @contributions_by_years[year].max_streaks_by_day %></li>
      <% distribution, thresholds = @contributions_by_years[year].streak_by_day_distribution %>
      <%= erb :_distribution, locals: {label: "streak distribution", distribution: distribution, thresholds: thresholds} %>
    </ul>

    <h3>by week</h3>
    <ul>
      <li>max contributions: <%= @contributions_by_years[year].max_contributions_by_week %></li>
      <% distribution, thresholds = @contributions_by_years[year].contribution_by_week_distribution %>
      <%= erb :_distribution, locals: {label: "contribution distribution", distribution: distribution, thresholds: thresholds} %>
      <li>contributed: <%= @contributions_by_years[year].contributed_weeks %></li>
      <li>average contributions per contributed: <%= @contributions_by_years[year].average_contributions_per_contributed_weeks %></li>
      <li>max streaks: <%= @contributions_by_years[year].max_streaks_by_week %></li>
      <% distribution, thresholds = @contributions_by_years[year].streak_by_week_distribution %>
      <%= erb :_distribution, locals: {label: "streak distribution", distribution: distribution, thresholds: thresholds} %>
    </ul>

    <h3>by month</h3>
    <ul>
      <li>max contributions: <%= @contributions_by_years[year].max_contributions_by_month %></li>
      <% distribution, thresholds = @contributions_by_years[year].contribution_by_month_distribution %>
      <%= erb :_distribution, locals: {label: "contribution distribution", distribution: distribution, thresholds: thresholds} %>
      <li>contributed: <%= @contributions_by_years[year].contributed_months %></li>
      <li>average contributions per contributed: <%= @contributions_by_years[year].average_contributions_per_contributed_months %></li>
      <li>max streaks: <%= @contributions_by_years[year].max_streaks_by_month %></li>
      <% distribution, thresholds = @contributions_by_years[year].streak_by_month_distribution %>
      <%= erb :_distribution, locals: {label: "streak distribution", distribution: distribution, thresholds: thresholds} %>
    </ul>
  </div>
<% end %>
<script>
const years = <%= @years.to_json %>;
const cal_data = <%=
  @years.map do|year|
    [
      year,
      @contributions_by_years[year].contributions_by_day
        .select{|date, count| count != 0}
        .map{|date, count| {date: date, count: count}}
    ]
  end
  .to_h
  .to_json
%>;
const thresholds = <%=
  @years.map do |year|
    distribution, thresholds = @contributions_by_years[year].contribution_by_day_distribution
    [year, thresholds.values]
  end
  .to_h
  .to_json
%>;

const cals = {};
years.forEach(year => {
  cals[year] = new CalHeatmap();
  cals[year].paint({
    itemSelector: '#cal-heatmap-' + year,
    domain: {
      type: 'month',
      gutter: 2,
      label: {
        text: 'MMM',
        position: 'top',
        textAlign: 'start'
      }
    },
    subDomain: {
      type: 'ghDay',
      gutter: 3,
      radius: 3
    },
    range: 12,
    date:{
      start: new Date(year, 0, 31)
    },
    data: {
      source: cal_data[year],
      x: 'date',
      y: 'count'
    },
    scale: {
      color: {
        type: 'threshold',
        range: ['#ebedf0', '#9be9a8', '#40c463', '#30a14e', '#216e39'],
        domain: thresholds[year]
      }
    }
  });
});
</script>
